name: CI

on: [pull_request, push]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Setup PNPM
        uses: DerYeger/pnpm-setup-action@v3.1.1
        with:
          node-version: 'latest'
      
      - name: Lint
        run: pnpm lint